<!DOCTYPE html>
<html class="bootstrap-layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="~/Assets/admin/css/style.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/toastr/build/toastr.css">
    <!-- Required by summernote -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">
    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="~/Assets/admin/examples/css/bootstrap-datepicker.min.css">
    <!-- Summernote WYSIWYG -->
    <link rel="stylesheet" href="~/Assets/admin/examples/css/summernote.min.css">
    <!-- Nestable -->
    <link rel="stylesheet" href="~/Assets/admin/examples/css/nestable.min.css">

</head>

<body ng-app="learning" ng-controller="rootController">
    <div ui-view></div>

    <!-- jQuery -->
    <script src="~/Assets/admin/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Assets/admin/vendor/tether.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap.min.js"></script>

    <!-- AdminPlus -->
    <script src="~/Assets/admin/vendor/adminplus.js"></script>

    <!-- App JS -->
    <script src="~/Assets/admin/js/main.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/Assets/admin/vendor/summernote.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/admin/vendor/jquery.nestable.js"></script>


    <!-- Init -->
    <script src="~/Assets/admin/examples/js/summernote.js"></script>
    <script src="~/Assets/admin/examples/js/date-time.js"></script>
    <script src="~/Assets/admin/examples/js/nestable.js"></script>

    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/node_modules/ckeditor/ckeditor.js"></script>
    <script src="~/node_modules/ng-ckeditor/dist/ng-ckeditor.js"></script>
    <script src="~/node_modules/angular-ckeditor/angular-ckeditor.js"></script>
    <script src="~/node_modules/ckfinder/ckfinder.js"></script>
    <script src="~/node_modules/toastr/toastr.js"></script>
    <script src="~/node_modules/bootbox/bootbox.js"></script>
    <script src="~/node_modules/ngbootbox/ngBootbox.js"></script>
    <script src="~/node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/node_modules/angular-loading-bar/build/loading-bar.js"></script>




    <script src="~/app/shared/modules/learning.common.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>

    <script src="~/app/shared/filter/statusFilter.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>

    <script src="~/app/components/courses/courses.module.js"></script>
    <script src="~/app/components/courses/courseAddController.js"></script>
    <script src="~/app/components/courses/courseEditController.js"></script>
    <script src="~/app/components/courses/courseListController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>

    <script src="~/app/components/course_categories/courseCategory.module.js"></script>
    <script src="~/app/components/course_categories/courseCategoryListController.js"></script>
    <script src="~/app/components/course_categories/courseCategoryAddController.js"></script>
    <script src="~/app/components/course_categories/courseCategoryEditController.js"></script>

    <script src="~/app/components/post_categories/postCategory.module.js"></script>
    <script src="~/app/components/post_categories/postCategoryListController.js"></script>
    <script src="~/app/components/post_categories/postCategoryEditController.js"></script>
    <script src="~/app/components/post_categories/postCategoryAddController.js"></script>

    <script src="~/app/components/posts/post.module.js"></script>
    <script src="~/app/components/posts/postListController.js"></script>
    <script src="~/app/components/posts/postEditController.js"></script>
    <script src="~/app/components/posts/postAddController.js"></script>

    <script src="~/app/components/login/loginController.js"></script>





</body>

</html>
