<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display:inline">
        <ul class="pagination pagination-sm">
            <li class="page-item" ng-class="{disabled: page==0}">
                <a class="page-link"  ng-click="search(page-1)"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

          

            <li class="page-item " ng-repeat="n in range()" ng-class="{active: n == page}">
                <a class="page-link" ng-click="search(n)" >{{n+1}}
                <span class="sr-only" ng-if="n == page">{{n+1}}</span></a>
            </li>

            <li class="page-item" ng-class="{disabled: page == pagesCount - 1}">
                <a class="page-link" ng-click="search(pagePlus(1))"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>


        </ul>
    </div>
</div>
