<!-- Categorie Menu & Slider Area Start Here -->
<div class="main-page-banner home-3">
    <div class="container">
        <div class="row">
            <!-- Vertical Menu Start Here -->
            <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                <div class="vertical-menu mb-all-30">
                    <nav>
                        <ul class="vertical-menu-list">
                            <li class="">
                                <a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Lập trình<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                <ul class="ht-dropdown mega-child">


                                    <li><a href="shop.html">C+</a></li>
                                    <li><a href="shop.html">C#</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="">
                                <a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Ngoại ngữ<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                <ul class="ht-dropdown mega-child">


                                    <li><a href="shop.html">Tiếng Anh</a></li>
                                    <li><a href="shop.html">Tiếng Nhật</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="">
                                <a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Kỹ năng sống<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                <ul class="ht-dropdown mega-child">


                                    <li><a href="shop.html">Học đàn</a></li>
                                    <li><a href="shop.html">Học hát</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>

                            <!-- More Categoies End -->
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Vertical Menu End Here -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Categorie Menu & Slider Area End Here -->