        <!-- Support Area Start Here -->
<div class="support-area bdr-top">
    <div class="container">
        <div class="d-flex flex-wrap text-center">
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-gift"></i>
                </div>
                <div class="support-desc">
                    <h6>Nhiều ưu đãi</h6>
                    <span>Nhiều ưu đãi giảm giá cho các khoá học thường xuyên</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <div class="support-desc">
                    <h6>Học trực tuyến</h6>
                    <span>Học mọi lúc, mọi nơi, mọi thời điểm</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-lock"></i>
                </div>
                <div class="support-desc">
                    <h6>Thanh toán an toàn</h6>
                    <span>Bảo mật đảm bảo thông tin thanh toán</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-enter-down"></i>
                </div>
                <div class="support-desc">
                    <h6>Uy tín</h6>
                    <span>Đảm bảo hoàn tiền nếu không hài lòng</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-users"></i>
                </div>
                <div class="support-desc">
                    <h6>Hỗ trợ 24/7</h6>
                    <span>Giải đáp thắc mắc các vấn đề 24/7</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Support Area End Here -->
<!-- Footer Area Start Here -->
<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <!-- Signup Newsletter Start -->
            <div class="row mb-60">
                <div class="col-xl-7 col-lg-7 ml-auto mr-auto col-md-8">
                    <div class="news-desc text-center mb-30">
                        <h3>Đăng ký để nhận thông tin mới nhất</h3>

                    </div>
                    <div class="newsletter-box">
                        <form action="#">
                            <input class="subscribe" placeholder="Email của bạn" name="email" id="subscribe" type="text">
                            <button type="submit" class="submit">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Signup-Newsletter End -->
            <div class="row">
                <!-- Single Footer Start -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Thông tin</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="about.html">Về chúng tôi</a></li>
                                <li><a href="#">Hướng dẫn sử dụng</a></li>
                                <li><a href="contact.html">Điều khoản và điều kiện</a></li>
                                <li><a href="login.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Dịch vụ khách hàng</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="contact.html">Liên lạc</a></li>
                                <li><a href="#">Lịch sử đơn hàng</a></li>
                                <li><a href="wishlist.html">Danh sách yêu thích</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Hợp tác liên kết</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="contact.html">Đăng ký giảng viên</a></li>
                                <li><a href="#">Giải pháp E-Learning</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Thông tin liên lạc</h3>
                        <div class="footer-content">
                            <ul class="footer-list address-content">
                                <li><i class="lnr lnr-map-marker"></i> Địa chỉ: 169 Lý Thánh Tông, Tân Phú, TP.HCM</li>
                                <li><i class="lnr lnr-envelope"></i><a href="#">Email: Support@abc.com </a></li>
                                <li>
                                    <i class="lnr lnr-phone-handset"></i> Điện thoại: (+800) 123 456 789)
                                </li>
                            </ul>
                            <div class="payment mt-25 bdr-top pt-30">
                                <a href="#"><img class="img" src="Assets/client/img/payment/1.png" alt="payment-image"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
        <div class="container">

            <!-- <div class="copyright-text text-center">
               <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
            </div> -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer Area End Here -->
<!-- Quick View Content Start -->
<div class="main-product-thumbnail quick-thumb-content">
    <div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <!-- Main Thumbnail Image Start -->
                            <div class="col-lg-5 col-md-6 col-sm-5">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="thumb-1" class="tab-pane fade show active">
                                        <a data-fancybox="images" href="img/products/pr4.jpg"><img src="Assets/client/img/products/pr4.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb-2" class="tab-pane fade">
                                        <a data-fancybox="images" href="img/products/13.jpg"><img src="Assets/client/img/products/13.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb-3" class="tab-pane fade">
                                        <a data-fancybox="images" href="img/products/15.jpg"><img src="Assets/client/img/products/15.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb-4" class="tab-pane fade">
                                        <a data-fancybox="images" href="img/products/4.jpg"><img src="Assets/client/img/products/4.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb-5" class="tab-pane fade">
                                        <a data-fancybox="images" href="img/products/5.jpg"><img src="Assets/client/img/products/5.jpg" alt="product-view"></a>
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <!-- Thumbnail image end -->
                            </div>
                            <!-- Main Thumbnail Image End -->
                            <!-- Thumbnail Description Start -->
                            <div class="col-lg-7 col-md-6 col-sm-7">
                                <div class="thubnail-desc fix mt-sm-40">
                                    <h3 class="product-header">Printed Summer Dress</h3>
                                    <div class="pro-price mtb-30">
                                        <p class="d-flex align-items-center"><span class="prev-price">16.51</span><span class="price">15.19</span><span class="saving-price">Tiết kiệm 8%</span></p>
                                    </div>
                                    <p class="mb-20 pro-desc-details">Giảng viên: Lê Văn A</p>
                                    <p class="mb-20 pro-desc-details">Bài giảng: 69 bài</p>
                                    <p class="mb-20 pro-desc-details">Sau khóa học về làm thạch 3D, bạn sẽ hoàn toàn tự tin vào tay nghề của bản thân để có thể làm các loại thạch rau câu theo ý muốn, thậm chí có thể mở cửa hàng kinh doanh.</p>


                                    <div class="box-quantity d-flex">

                                        <a class="add-cart" href="cart.html">Thêm vào giỏ hàng</a>
                                    </div>

                                </div>
                            </div>
                            <!-- Thumbnail Description End -->
                        </div>
                    </div>
                    <!-- Modal footer -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick View Content End -->
