<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Siêu thị khoá học</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Assets/client/img/favicon.ico">

    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css">
    <!-- Ionicons css -->        
    <link rel="stylesheet" href="~/Assets/client/css/ionicons.min.css">
    <!-- linearicons css -->     
    <link rel="stylesheet" href="~/Assets/client/css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/Assets/client/css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="~/Assets/client/css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="~/Assets/client/css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="~/Assets/client/css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="~/Assets/client/css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/Assets/client/css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Assets/client/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Assets/client/css/responsive.css">

    <!-- Modernizer js -->
    <script src="~/Assets/client/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Main Wrapper Start Here -->
    <div class="wrapper">

        <!-- Newsletter Popup End -->
        <!-- Main Header Area Start Here -->
        @{ Html.RenderAction("Header", "Home");}
        <!-- Main Header Area End Here -->
        <!-- Categorie Menu & Slider Area Start Here -->



        @RenderBody()

        <!-- Categorie Menu & Slider Area End Here -->

        @{Html.RenderAction("Footer", "Home");
        }



    </div>
    <!-- Main Wrapper End Here -->
    <!-- jquery 3.2.1 -->
    <script src="~/Assets/client/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Assets/client/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/Assets/client/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Assets/client/js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Assets/client/js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="~/Assets/client/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="~/Assets/client/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/Assets/client/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="~/Assets/client/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="~/Assets/client/js/main.js"></script>
</body>

</html>

