<ol class="breadcrumb m-b-0">
    <li><a href="index.html">Trang chủ</a></li>
    <li class="active">Khoá học</li>
</ol>
<h1 class="page-heading h2">Quản lý khoá học</h1>
<div class="card-columns">
    <div class="card">
        <div class="card-header bg-white">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="instructor-course-edit.html">
                        <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="img-rounded">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="card-title"><a href="instructor-course-edit.html">Learn VueJs</a></h4>
                    <span class="label label-primary">$1230</span> <span class="label label-default">34 đăng ký</span>
                </div>
                <div class="media-right media-middle">
                    <a href="instructor-course-edit.html" class="btn btn-white">Sửa</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-white">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="instructor-course-edit.html">
                        <img src="assets/images/nodejs.png" alt="Card image cap" width="100" class="img-rounded">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="card-title"><a href="instructor-course-edit.html">Npm &amp; Gulp Advanced Workflow</a></h4>
                    <span class="label label-primary">$421</span> <span class="label label-default">12 Đăng ký</span>
                </div>
                <div class="media-right media-middle">
                    <a href="instructor-course-edit.html" class="btn btn-white">Sửa</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-white">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="instructor-course-edit.html">
                        <img src="assets/images/github.png" alt="Card image cap" width="100" class="img-rounded">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="card-title">
                        <a href="instructor-course-edit.html">Github Webhooks for Beginners</a>
                    </h4>
                    <span class="label label-primary">$2191</span> <span class="label label-default">50 đăng ký</span>
                </div>
                <div class="media-right media-middle">
                    <a href="instructor-course-edit.html" class="btn btn-white">Sửa</a>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header bg-white">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="instructor-course-edit.html">
                        <img src="assets/images/gulp.png" alt="Card image cap" width="100" class="img-rounded">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="card-title"><a href="instructor-course-edit.html">Gulp & Slush Workflows</a></h4>
                    <span class="label label-primary">$300</span> <span class="label label-default">5 đăng ký</span>
                </div>
                <div class="media-right media-middle">
                    <a href="instructor-course-edit.html" class="btn btn-white">Sửa</a>
                </div>
            </div>
        </div>
    </div>
</div>
