
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb m-b-0">
            <li><a ui_sref="index">Trang chủ</a></li>
            <li><a ui-sref="product_categories">Khoá học</a></li>
            <li class="active">Thêm mới khoá học</li>

        </ol>

        <h1 class="page-heading h2">Thêm khoá học</h1>
        <!-- Main content -->
        <div class="card">
            <div class="card-block">
                <!-- Horizontal Form -->
                <!-- form start -->
                <form novalidate name="frmAddcourse" role="form" ng-submit="AddCourse()">
                   

                        <div class="form-group row">
                            <label for="exampleInputFile" class="col-sm-2 control-label">Hình ảnh</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleInputFile" required name="Image" ng-model="course.Image">
                                <button class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>
                                <img src="{{course.Image}}" alt="Alternate Text" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Tên khoá học</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-change="GetSeoTitle()" required name="name" ng-model="course.Name">
                                <span ng-show="frmAddcourse.name.$error.maxlength && frmAddcourse.name.$dirty" class="has-danger">Phải nhập tên danh mục</span>
                                <span ng-show="frmAddcourse.name.$error.maxlength && frmAddcourse.name.$dirty" class="has-danger">Tên danh mục chỉ được 256 ký tự</span>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="alias" required ng-model="course.Alias">
                                <span ng-show="frmAddcourse.alias.$invalid && frmAddcourse.alias.$dirty" class="has-danger">Phải nhập tiêu đề SEO</span>
                                <span ng-show="frmAddcourse.alias.$error.maxlength" class="has-danger">Tiêu đề SEO chỉ được 256 ký tự</span>
                            </div>
                        </div>

                
                    <div class="box-footer">
                        <button ui-sref="course_categories" class="btn btn-default">Hủy</button>
                        <button type="submit" ng-disabled="frmAddcourse.$invalid" class="btn btn-success pull-right">Lưu</button>
                    </div><!-- /.box-footer -->
                </form>
            </div>
        </div>
