<ol class="breadcrumb m-b-0">
    <li><a href="index.html">Trang chủ</a></li>
    <li class="active">Khoá học</li>
</ol>
<h1 class="page-heading h2">Quản lý khoá học</h1>
<div class="card-columns">

    <div class="card">
        <div class="card-header bg-white">
            <div class="media">
                <div class="media-left media-middle">
                    <a ui-sref="course_edit">
                        <img src="Assets/admin/images/gulp.png" alt="Card image cap" width="100" class="img-rounded">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="card-title"><a ui-sref="course_edit">Gulp & Slush Workflows</a></h4>
                    <span class="label label-primary">$300</span> <span class="label label-default">5 đăng ký</span>
                </div>
                <div class="media-right media-middle">
                    <a ui-sref="course_edit" class="btn btn-white">Sửa</a>
                </div>
            </div>
        </div>
    </div>
</div>
